#kenya{
    text-align: center;
    background-color: #ff0051;
    color: deepskyblue;
}
#rwanda{
    text-align: center;
    background-color: deepskyblue;
    color: #ff0051;
}
#southafrica{
    text-align: center;
    background-color: #ff0051;
    color: deepskyblue;
}